extends layout

block content
  h1(class="main-title")= title 
  p Welcome to #{title}
  img(class="thumbnail-img" src="/images/book.jpg", alt=title)
  //a.button(href="google.com")google
  script(scr="https://code.jquery.com/jquery-3.7.1.min.js")  
  //JQuey CND这个可以后面用来在前端上，调用Jquery的某些function
  
